body
{
    color:#005596;
    font:14px/1.3;
}

a
{
    color:#52B84A;
    text-decoration:none;
}

hr
{
    height:0;
    border:0;
    border-top:1px solid $green;
}

h1,h2,h3,h4,h5,h6
{
    margin:5px 0;
    padding:5px 0;
}

h1
{
    border-bottom:1px solid #52b84a;
    color:#005596;
    font-size:42px;
    line-height:50px;
    text-align:left;
    text-shadow:1px 1px 1px #99c7eb;
    margin:0 0 10px;
    padding:0;
}

h1.our_affiliate
{
    font-size:40px;
}

h1.taxonomy_title
{
    font-size:37px;
}

h1.build_site
{
    font-size:29px;
}

h2
{
    color:#52B84A;
    font-size:26px;
}

h3
{
    color:#52B84A;
    font-size:16px;
    font-weight: bold;
    font-style:normal;
}

.content_main li
{
    list-style:disc inside none;
    margin:1px 0;
    padding:1px 0;
}

.content_main img
{
    max-width:100%;
}

.volunteer_app label
{
    float:left;
    width:100%;
    clear:both;
    margin:3px 0;
}

.volunteer_app input[type=text]
{
    border:1px solid #005495;
    float:left;
    width:215px;
    margin:3px 0;
    padding:5px;
}

.volunteer_app input[type=button],.volunteer_app input[type=submit]
{
    background:none repeat scroll 0 0 #54b848;
    border:0;
    border-radius:2px;
    clear:both;
    color:#fff;
    font-size:23px;
    margin:5px 0;
    padding:2px 5px 7px;
}

.volunteer_app .small
{
    font-size:12px;
    font-weight:normal;
}

.sidebar h3
{
    color:#005596;
    font-size:14px;
    line-height:0;
    padding:12px 0 2px;
}

h3 a
{
    font-weight:normal;
    font-size:16px;
}

p
{
    margin:3px 0;
    padding:4px 0;
}

img
{
    margin:5px 0;
}

.inner_width
{
    width: 100%;
    max-width:940px;
    margin:0 auto;

    &:after
    {
        content:"";
        display: block;
        clear: both;
    }
}

.header
{
    width:100%;
    background:url(../images/header.jpg) repeat;
    margin:-18px 0 0;
}

.top
{
    height:140px;
    padding:13px 0;
}

#logo
{
    float:left;
    display: block;
}
#logo img
{
    display: block;
}
.header .restore_logo
{
    float: right;
}

.header .address
{
    float:left;
    font-size:18px;
    line-height:1.4;
    text-align:center;
    text-shadow:-2px 2px 2px rgba(0,78,138, 0.15);
    width:300px;
    margin:15px 0 0 80px;
    font-weight: 600;

    ul.social
    {
        list-style: none;
        text-align: center;
        margin-top: 5px;

        li
        {
            list-style: none;
            margin: 0 4px;
            display: inline-block;

            a
            {
                display: block;
                background-repeat:no-repeat;
                width: 31px;
                height: 31px;
                font-size:0;
                color:transparent;

                &:after
                {
                    content:"";
                    display: block;
                    position: absolute;
                    left: -99999px;
                }

                &.fb,
                &:after
                {
                    background-image:url(../images/social.png);
                    background-position:0 0;
                }
                &.tw
                {
                    background-image:url(../images/social.png);
                    background-position: -39px 0;


                }
            }
        }
    }

    a
    {
        color:#005596;
        display: block;

        &:hover
        {
            color:#52B84A;
        }
    }
}

.social
{
    width:90px;
    margin:0 auto;
}

.social li
{
    list-style:none;
    float:left;
    margin:7px 5px;
}



.footer .fb a
{
    background:url(../images/social_f.png) no-repeat 0 0;
    float:left!important;
    height:31px;
    width:31px!important;
}

.footer .tw a
{
    background:url(../images/social_f.png) no-repeat -39px 0;
    float:left!important;
    height:31px;
    width:31px!important;
}

.fb a:hover
{
    background:url(../images/social_h.png) no-repeat 0 0;
}

.tw a:hover
{
    background:url(../images/social_h.png) no-repeat -39px 0;
}

.restore
{
    background:url(../images/r_logo.png) no-repeat;
    float:right;
    height:82px;
    width:191px;
    margin:27px 0 0 30px;
}

.nav
{
    background:#005596;
    width:100%;
    border-top:2px solid $green;
    border-bottom:2px solid $green;
    position: relative;
}

#block-system-main-menu .content li
{
    border-right:1px solid #03477B;
    float:left;
    list-style:none outside none!important;
    color:#fff;
    position:relative;
    list-style-image:none!important;
    margin:0 1px;
    padding:0!important;
}

#block-system-main-menu .content li li
{
    border:none;
    float:left;
    width:180px;
    margin:0!important;
}

#block-system-main-menu .content li li a
{
    width:84%;
}

#block-system-main-menu .content a
{
    color:white;
    float:left;
    font-size:14px;
    margin:0;
    padding:13px;
    font-weight: bold;
}

li.last
{
    border:none;
}

.nav li a:hover,.active-trail a
{
    color:#fff!important;
}

.nav li:hover,
.active-trail,
.nav li > a.active
{
    color:#fff;
    background:url(../images/li_hov.png) no-repeat center top #55bb49;
}

.nav li a:hover
{
    color:#fff;
}

.nav li > ul
{
    background-color:#005596;
    border:2px solid $green;
    display:none;
    left:0;
    list-style-type:none;
    position:absolute;
    top:100%;
    z-index:99;
    margin:0;
    padding:0;
}

.nav li:hover > ul
{
    display:block;
}

.nav li ul
{
    float:left;
    width:180px;
}

.nav li li:hover
{
    background:url(../images/lili_hov.png) no-repeat 130px 10px #55bb49;
}

.nav #block-block-5
{
    display: none;

    p
    {
        margin:0;
        padding: 0;
    }
}

.banner
{
    width:100%;
    overflow:hidden;
    text-align:center;
    position:relative;
    z-index:1;
    background:url(../images/slider_bg.jpg) no-repeat center top #55bb49!important;
    border-bottom:2px solid #52B84A;
    height:336px;
}

.banner img
{
    margin:0!important;
}

.container
{
    width:100%;
    background:url(../images/con_bg.jpg) repeat;
    padding:20px 0;
}

.content_main
{
    float:left;
    width:680px;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #e8f0f6 0%, #f7f7f7 50%, #e8f0f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8f0f6), color-stop(50%,#f7f7f7), color-stop(100%,#e8f0f6));
    background: -webkit-linear-gradient(top, #e8f0f6 0%,#f7f7f7 50%,#e8f0f6 100%);
    background: -o-linear-gradient(top, #e8f0f6 0%,#f7f7f7 50%,#e8f0f6 100%);
    background: -ms-linear-gradient(top, #e8f0f6 0%,#f7f7f7 50%,#e8f0f6 100%);
    background: linear-gradient(to bottom, #e8f0f6 0%,#f7f7f7 50%,#e8f0f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f0f6', endColorstr='#e8f0f6',GradientType=0 );
    border-top:2px solid #D3D9DD;
    border-bottom:2px solid #D3D9DD;
    border-radius:15px 0 0 0;
    margin:0 20px 0 0;
}

.content_cen
{
    border-radius:0 0 0 15px;
    float:left;
    overflow:hidden;
    width:620px;
    min-height:678px;
    margin:0 20px 0 0;
    padding:0 15px 23px;
}

.content_top
{
    overflow:hidden;
    float:left;
    width:650px;
    padding:0 15px;
}

.content_btm
{
    float:left;
    width:679px;
    box-shadow:0 0 5px #BAC5CD;
    background:#e8f0f6;
    margin:20px 21px 20px 0;
}

.welcome h1
{
    background:url(../images/wel_icon.png) no-repeat scroll 165px 7px;
    width:78%;
}

.page_title
{
    float:left;
}

.page_title .icon
{
    background:url(../images/wel_icon.png) no-repeat right center;
    width:49px;
    height:50px;
    display: inline-block;
}
body.page-volunteer.page-restore .page_title
{
    font-size:0;
    color:transparent;
    padding-left:303px;
    background:url(../images/volunteer_restore.png) no-repeat left center;
}
body.page-our-restore .page_title
{
    font-size:0;
    color:transparent;
    padding-left:202px;
    background:url(../images/restore_title.png) no-repeat left center;
}


.content h2
{
    font-weight:bold;
    font-size:24px;
    line-height:14px;
    margin:0;
    padding:5px 0;
}

.content p
{
    font-size:14px;
    line-height:14px;
    padding:5px 0;
}
.content iframe
{
    max-width:100%;
}

.aboutus_page_video
{
    width:315px;
}

.wat_new1
{
    background:url(../images/wat_line.png) no-repeat right 32%;
    width:49%!important;
}

.video h1
{
    background:url(../images/vid_icon.png) no-repeat scroll 200px 10px;
    width:82%;
}

.content_cen h1
{
    background:url(../images/wat_icon.png) no-repeat scroll 420px 20px;
    float:left;
    width:79%;
    margin:0!important;
    padding:0!important;
}

.sidebar
{
    float:left;
    width:240px;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #e8f0f6 0%, #f7f7f7 50%, #e8f0f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8f0f6), color-stop(50%,#f7f7f7), color-stop(100%,#e8f0f6));
    background: -webkit-linear-gradient(top, #e8f0f6 0%,#f7f7f7 50%,#e8f0f6 100%);
    background: -o-linear-gradient(top, #e8f0f6 0%,#f7f7f7 50%,#e8f0f6 100%);
    background: -ms-linear-gradient(top, #e8f0f6 0%,#f7f7f7 50%,#e8f0f6 100%);
    background: linear-gradient(to bottom, #e8f0f6 0%,#f7f7f7 50%,#e8f0f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f0f6', endColorstr='#e8f0f6',GradientType=0 );
    border-bottom:2px solid #D3D9DD;
    border-top:2px solid #D3D9DD;
    border-radius:0 15px 0 0;
    line-height:1.4;
}

.name-here-left
{
    float:left;
    width:400px;
    background:#e8f0f6;
    padding:5px 10px 10px;
}

.name-here-right
{
    float:right;
    width:230px;
    background:#d0e2f0;
    padding:37px 0 0;
}

.volunteer_pagecontent
{
    text-align:center;
    min-height:983px;
    margin:0;
    padding:3px 0 0;
}

.volunteer_pagecontent a:link,.volunteer_pagecontent a:visited
{
    display:block;
    margin:0 0 8px;
    padding:0;
}

.volunteer_pagecontent a img
{
    display:block;
    margin:0 auto;
    padding:0;
}

.welcome
{
    width:45%!important;
    padding:0 3% 0 0 !important;
}

.welcome p,.content_cen p,.video p
{
    line-height:14px;
    font-size:14px;
}

.content_cen p
{
    padding:5px 0 10px;
}

.fea_val h2
{
    color:#005596;
    font-size:24px;
    clear:both;
    margin:0;
    padding:15px 0 10px;
}

.fea_val p
{
    color:#005596;
    font-size:14px;
    font-weight:normal;
    text-align:left;
    line-height:14px;
    margin:0;
}

.video
{
    width:50%!important;
}

.wat_new2
{
    width:43%!important;
}

h1.vid_icon,h1.wel_icon
{
    margin:0 0 5px;
    padding:0;
}

.content_cen h3
{
    margin:0!important;
    padding:7px 0 0!important;
}

.sidebar_top
{
    float:left;
    line-height:14px;
    padding:10px 10px 0 15px;
}

.sidebar_btm
{
    border-radius:0 0 15px 0;
    float:left;
    padding:0 15px;
}

.sidebar h2
{
    font-size:24px;
    color:#005596;
    text-shadow:1px 1px 2px #99C7EB;
    line-height:0.9;
    border-bottom:1px solid #52B84A;
    margin:0 0 10px;
}

.sidebar_top p,.sidebar_btm p
{
    margin:0;
    padding:5.8px 0 5px;
}

.sidebar a
{
    font-size:16px;
    line-height:17px;
}

.ins
{
    font-size:11px;
    font-style:italic;
    line-height:13px;
}

.general_informationsidebar_menu
{
    float:left;
    width:236px;
    border:2px solid #54b848;
    background:#005596;
    margin:12px 0 0;
    padding:0;
}

.general_informationsidebar_menu ul li
{
    background:#005596;
    list-style:none;
    margin:0;
    padding:0;
}

.general_informationsidebar_menu ul li:hover
{
    background:#5cc84f;
}

.general_informationsidebar_menu ul li a:link,.general_informationsidebar_menu ul li a:visited
{
    display:block;
    color:#FFFFFF;
    font-size:12px;
    margin:0;
    padding:12px 5px;
}

.nolink
{
    display:block;
    padding:13px;
}

.our_restore_left
{
    float:left;
    width:51%;
    margin:0 3% 0 0;
}

.our_restore_left h2
{
    font-size:24px;
    color:#54b848;
    line-height:14px;
    margin:0;
    padding:0 0 5px;
}

.our_restore_right h2
{
    font-size:24px;
    color:#54b848;
    line-height:14px;
    margin:0;
    padding:0 0 13px;
}

.volunteer_img_restore
{
    text-align:center;
    margin:0;
    padding:10px 0 5px;
}

.restore_list_one li
{
    list-style:disc outside none;
    margin:0 0 0 13px;
    padding:0 0 0 25px;
}

.our_restore_right
{
    float:left;
    width:46%;
    margin:0;
}

.our_restore_right h3
{
    font-weight: bold;
    font-size:12px;
    font-weight:bold;
    color:#005596;
    line-height:14px;
    margin:0;
    padding:12px 0 0;
}

.our_restore_right p
{
    color:#005596;
    line-height:14px;
    margin:0;
    padding:0 0 5px;
}

.our_restore_right p img
{
    margin:0;
    padding:13px 0 0;
}

.volunteer_icon1
{
    margin:-10px 5px 0 0;
    padding:0;
}

.build_activities_year
{
    font-size:14px;
    font-weight:bold;
    display:block;
    float:left;
    clear:both;
    width:145px;
    margin:0;
    padding:3px 0 10px 35px;
}

.build_activities_decs
{
    float:left;
    display:block;
    width:430px;
    font-size:14px;
    line-height:14px;
    margin:0;
    padding:5px 0;
}

.local_builds_bottom
{
    overflow:hidden;
    margin:0;
    padding:20px 0 10px;
}

.local_builds_video
{
    float:left;
    width:365px;
    margin:0;
    padding:0;
}

.local_builds_bottombutton
{
    float:left;
    margin:0;
    padding:20px 0 0;
}

.sponsors_pagecontent
{
    min-height:983px;
}

.builds_pagecontent
{
    min-height:975px;
}

.applynow_volunteer
{
    float:right;
    height:32px;
    width:105px;
    margin:-60px 0 0;
}

.page_title1
{
    padding:5px 0 0;
}

.restore_pagecontent
{
    min-height:970px;
}

.reStore_pagecontent
{
    min-height:957px;
}

.gallery_list
{
    clear:both;
    overflow:hidden;
    margin:0;
    padding:5px 0 20px;
}

.gallery_list li:last-child
{
    margin:0;
}

.gallery_list li
{
    float:left;
    text-align:center;
    width:200px;
    list-style:none;
    box-shadow:0 0 4px 2px rgba(176,218,241,0.59);
    -moz-box-shadow:0 0 4px 2px rgba(176,218,241,0.59);
    -webkit-box-shadow:0 0 4px 2px rgba(176,218,241,0.59);
    background:#FFF;
    font-size:14px;
    line-height:14px;
    margin:0 15px 0 0;
    padding:0 0 2px;
}

.gallery_list li img
{
    margin:0;
    padding:0 0 2px;
}

.international_gallery
{
    font-size:38px;
}

.donate_tabs_outer
{
    clear:both;
    overflow:hidden;
    margin:0;
    padding:0;
}

.donate_tabs_left
{
    float:left;
    width:305px;
    border:1px solid #72a1c5;
    margin:0;
    padding:0;
}

.donate_tabs_right
{
    float:left;
    width:305px;
    border:1px solid #72a1c5;
    margin:0 0 0 20px;
    padding:0;
}

.donate_tabs_row
{
    display:block;
    border:1px solid #3d7daf;
    clear:both;
    overflow:hidden;
    margin:0;
    padding:0;
}

.donate_ammounts
{
    float:left;
    width:85px;
    text-align:center;
    font-size:19.59px;
    border-right:1px solid #3d7daf;
    margin:0;
    padding:20px 0;
}

.donate_ammounts_desc
{
    float:left;
    width:205px;
    margin:0;
    padding:5px 0 5px 10px;
}

.restore_volunteer_form_row
{
    overflow:hidden;
    clear:both;
    margin:0;
    padding:0 0 5px;
}

.restore_volunteer_form_left,.restore_volunteer_form_right
{
    float:left;
    width:230px;
    min-height:1px;
    margin:0;
    padding:0 20px 0 0;
}

.restore_volunteer_form_right1
{
    float:left;
    width:355px;
    margin:0;
    padding:0 20px 0 0;
}

.restore_volunteer_form
{
    float:left;
    width:300px;
    margin:0;
    padding:0 20px 0 0;
}

.restore_volunteer_form1
{
    float:left;
    width:500px;
    margin:0;
    padding:0 20px 0 0;
}

.validation_label
{
    font-size:10px;
    display:block;
    margin:0;
    padding:0;
}

.restore_volunteer_form_label
{
    display:block;
    font-size:14px;
    color:#005596;
    font-weight:normal;
    margin:0;
    padding:0;
}

.volunteer_form_smallbox
{
    width:117px;
    border:1px solid #005495;
    -moz-box-shadow:inset 3px 3px 1px 0 #dddddd;
    -webkit-box-shadow:inset 3px 3px 1px 0 #dddddd;
    box-shadow:inset 3px 3px 1px 0 #dddddd;
    font-size:14px;
    margin:0 0 5px;
    padding:2px 4px;
}

.volunteer_form_box
{
    width:215px;
    border:1px solid #005495;
    -moz-box-shadow:inset 3px 3px 1px 0 #dddddd;
    -webkit-box-shadow:inset 3px 3px 1px 0 #dddddd;
    box-shadow:inset 3px 3px 1px 0 #dddddd;
    font-size:14px;
    margin:0 0 5px;
    padding:2px 4px;
}

.restore_volunteer_textarea
{
    width:215px;
    border:1px solid #005495;
    -moz-box-shadow:inset 3px 3px 1px 0 #dddddd;
    -webkit-box-shadow:inset 3px 3px 1px 0 #dddddd;
    box-shadow:inset 3px 3px 1px 0 #dddddd;
    font-size:14px;
    height:80px;
    resize:none;
    margin:0 0 5px;
    padding:2px 4px;
}

.restore_volunteer_form_label-1
{
    float:left;
    font-weight:normal;
    margin:0;
    padding:0 10px 0 0;
}

.restore_volunteer_form_label-2
{
    float:left;
    font-weight:normal;
    width:250px;
    margin:0;
    padding:0;
}

.restore_checkbox_1
{
    float:left;
    display:block;
    margin:0 10px 0 0;
    padding:0 10px 0 0;
}

.restore_available_app
{
    margin:0;
    padding:0 0 0 110px;
}

.restore_available_app_row
{
    clear:both;
    overflow:hidden;
    margin:0;
    padding:2px 0;
}

.days_list
{
    float:left;
    display:block;
    font-size:14px;
    font-weight:normal;
    text-align:right;
    width:100px;
    margin:0;
    padding:0 50px 0 0;
}

.available_app_label
{
    float:left;
    display:block;
    font-weight:normal;
    margin:0;
    padding:0 15px 0 0;
}

.select_time
{
    width:60px;
    border:1px solid #005495;
    -moz-box-shadow:inset 3px 3px 1px 0 #dddddd;
    -webkit-box-shadow:inset 3px 3px 1px 0 #dddddd;
    box-shadow:inset 3px 3px 1px 0 #dddddd;
    font-size:14px;
    float:left;
    margin:0 20px 5px 0;
    padding:1px 4px;
}

.selectbox_big
{
    width:115px;
    border:1px solid #005495;
    -moz-box-shadow:inset 3px 3px 1px 0 #dddddd;
    -webkit-box-shadow:inset 3px 3px 1px 0 #dddddd;
    box-shadow:inset 3px 3px 1px 0 #dddddd;
    font-size:14px;
    margin:0 20px 5px 0;
    padding:1px 4px;
}

.step_3_desc ul
{
    margin:0;
    padding:10px 0 0 20px;
}

.step_3_desc ul li
{
    list-style:outside disc;
    margin:2px 0;
    padding:0;
}

.check_fileds_row
{
    clear:both;
    overflow:hidden;
    margin:0;
    padding:5px 0;
}

.check_fileds_label
{
    float:left;
    font-weight:normal;
    margin:0;
    padding:0 10px 0 0;
}

.check_fileds_checkbox
{
    float:left;
    margin:0 30px 0 0;
    padding:0;
}

.submit_button1
{
    background:url(../images/submitbutton_1.png) no-repeat;
    width:105px;
    height:32px;
    display:block;
    clear:both;
    border:none;
    cursor:pointer;
    margin:10px auto;
}

.checkbox_label
{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

input[type=checkbox].css-checkbox
{
    position:absolute;
    overflow:hidden;
    clip:rect(0000);
    height:1px;
    width:1px;
    border:0;
    margin:-1px;
    padding:0;
}

.restore_volunteer_form_label-1,.check_fileds_label
{
    background:url(../images/checkboxbg.png) no-repeat;
}

input[type=checkbox].css-checkbox.med + label.checkbox_label.med
{
    padding-left:30px;
    padding-right:20px;
    height:20px;
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-position:0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
    padding-top:3px;
}

input[type=checkbox].css-checkbox.med:checked + label.checkbox_label.med
{
    background-position:0 -23px;
}

.step3_smtitle
{
    display:block;
    text-align:center;
    font-size:14px;
    border-bottom:1px solid #54b848;
    margin:0;
    padding:0 0 2px;
}

.step3_topdetails
{
    border-bottom:1px solid #54b848;
    margin:0;
    padding:15px 0 10px;
}

.step_3_desc h2,.step_5 h2
{
    color:#005596;
    font-size:14px;
    font-weight: bold;
}

.step_5 ul
{
    margin:0;
    padding:5px 0;
}

.step_5 ul li
{
    list-style:none;
    background:url(../images/step5_libg.png) no-repeat left 2px;
    margin:1px 0 1px 10px;
    padding:0 0 0 25px;
}

.step5_confirm_div
{
    overflow:hidden;
    height:80px;
    margin:0;
    padding:0 0 10px 20px;
}

.committee_participation_desc
{
    clear:both;
    overflow:hidden;
    margin:0;
    padding:3px 0;
}

.committee_participation_checkbox
{
    float:left;
    display:block;
    margin:10px 0 0;
    padding:0;
}

.committee_participation_label
{
    float:left;
    width:300px;
    margin:0;
    padding:0 0 0 10px;
}

.cci_studios:hover
{
    color:#55bb49!important;
    text-decoration:underline;
}

.footer_con_add:hover
{
    color:#55bb49!important;
}

.habitat_f_humanity_f_logo
{
    background:url(../images/f_logo1.png) no-repeat;
    width:240px;
    height:96px;
    display:inline-block;
    margin:0;
    padding:0;

    &:after
    {
        content:"";
        display: block;
        position: absolute;
        left: -99999px;
    }

    &:hover,
    &:after
    {
        background-image: url(../images/f_logo_over.png);
    }
}

.f_othr_logos1
{
    background:url(../images/f_othr_logos1.png) no-repeat;
    width:125px;
    height:53px;
    display:inline-block;
    margin:0;
    padding:0;

    &:after
    {
        content:"";
        display: block;
        position: absolute;
        left: -99999px;
    }

    &:hover,
    &:after
    {
        background-image: url(../images/f_othr_logos1_over.png);
    }
}

.f_othr_logos2
{
    background:url(../images/f_othr_logos2.png) no-repeat;
    width:125px;
    height:47px;
    display:inline-block;
    margin:0;
    padding:0;

    &:after
    {
        content:"";
        display: block;
        position: absolute;
        left: -99999px;
    }

    &:hover,
    &:after
    {
        background-image: url(../images/f_othr_logos2_over.png);
    }
}

.f_othr_logos3
{
    background:url(../images/f_othr_logos3.png) no-repeat;
    width:125px;
    height:59px;
    display:inline-block;
    margin:0;
    padding:0;

    &:after
    {
        content:"";
        display: block;
        position: absolute;
        left: -99999px;
    }

    &:hover,
    &:after
    {
        background-image: url(../images/f_othr_logos3_over.png);
    }
}

.restorebutton1
{
    background:url(../images/restorebutton_normel.png) no-repeat;
    width:544px;
    height:73px;
    display:inline-block;
    margin:0 auto 8px!important;
    padding:0;

    &:after
    {
        content:"";
        display: block;
        position: absolute;
        left: -99999px;
    }

    &:hover,
    &:after
    {
        background-image: url(../images/restorebutton_over.png);
    }
}

.buildsbutton1
{
    background:url(../images/buildsbutton1.png) no-repeat;
    width:544px;
    height:73px;
    display:inline-block;
    margin:0 auto 8px!important;
    padding:0;

    &:after
    {
        content:"";
        display: block;
        position: absolute;
        left: -99999px;
    }

    &:hover,
    &:after
    {
        background-image: url(../images/buildsbutton1_over.png);
    }
}

.ouraffiliatebutton
{
    background:url(../images/ouraffiliatebutton.png) no-repeat;
    width:544px;
    height:73px;
    display:inline-block;
    margin:0 auto 8px!important;
    padding:0;

    &:after
    {
        content:"";
        display: block;
        position: absolute;
        left: -99999px;
    }

    &:hover,
    &:after
    {
        background-image: url(../images/ouraffiliatebutton_over.png);
    }
}

.field-name-field-gallery-thum1 .field-item
{
    float:left;
    margin:10px 15px;
    padding:0;
}

.field-name-field-gallery-thum1 .field-item a img
{
    border:2px solid #005596;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    display:block;
    margin:0;
    padding:0;
}

#cboxTitle
{
    display:none!important;
}

.backtogalleries
{
    display:block;
    overflow:hidden;
    clear:both;
    margin:0;
}

.backtogalleries a:link,.backtogalleries a:visited
{
    color:#FFFFFF;
    font-weight:bold;
    background:#54b848;
    border:1px solid #54b848;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    float:right;
    padding:5px;
}

.footer
{
    width:100%;
    background:#005596;
    border-top:3px solid #52B84A;
    border-bottom:3px solid #52B84A;
    padding:30px 0;

    a
    {
        color:white;

        &:hover
        {
            color:$green;
        }
    }

    .address
    {
        font-weight: 600;
        font-size:13px;
    }

    ul
    {
        list-style: none;

        li
        {
            list-style: none;
        }
    }
}

.f_left
{
    float:left;
    width:300px;
    color:#fff;
}

.f_center
{
    float:left;
    width:460px;
}

.footer ul
{
    float:left;
    margin:0 10px;
    padding:0 10px;
}

.footer li a
{
    color:#fff;
    float:left;
    width:100%;
    line-height:1.3;
    font-size:13px;
    padding:0 0 3px;
    font-weight: 100;
}

.footer li a:hover,.footer li a span:hover
{
    color:#55bb49;
}

.footer li a span
{
    color:#fff;
    font-weight: bold;
    float:left;
    font-size:14px;
    margin:5px 0;
    padding:5px 0;
}

.footer .f_right
{
    float:right;
    width:180px;
    text-align:right;

    a
    {
        color:transparent;
        font-size: 0;
    }
}

.clear
{
    hanging-punctuation:1px;
    float:left;
    width:100%;
    clear:both;
}

.volunteer_app p,.restore_pagecontent p
{
    clear:both;
}

.title,.content_top .node-readmore,.field-name-field-gallery-thum1 .field-label,.no-content-msg
{
    display:none;
}

.fv_icon,.fea_val h1
{
    background:url(../images/fv_icon.png) no-repeat scroll 360px 10px;
    float:left;
    width:97%;
    margin:0;
    padding:0;
}

.sidebar a:hover,.node-page a:hover
{
    text-decoration:underline;
}

.local_builds_bottombutton a,.local_builds_bottombutton img
{
    display:block;
    margin:0;
    padding:0;
}

.general_informationsidebar_menu ul li a:hover,.current_tap_homeowner a:link,.current_tap_homeowner a:visited
{
    background:url(../images/lili_hov.png) no-repeat 200px 10px #55bb49;
}

.step3_topdetails_left,.step3_topdetails_right
{
    float:left;
    width:300px;
    margin:0;
    padding:0;
}

.step_3_desc,.thank_youpage
{
    clear:both;
    margin:0;
    padding:0;
}

.slideshow
{
    height: 340px;
    overflow: hidden;
    border-bottom:2px solid $green;
    position: relative;
    clear: both;
}
.view-header-slideshow
{
    width:660px;
    height: 340px;
    margin:0 auto;
    position: relative;

    .view-content
    {
        width: 99999px;
        position: relative;
        left:0;
    }
    .views-row
    {
        float: left;
        opacity:0.5;

        img
        {
            display: block;
            margin: 0;
        }

        &.active
        {
            box-shadow:0 0 2px 2px rgba(0,0,0,0.5);
        }
    }
    .view-header a.prev,
    .view-footer a.next
    {
        display: block;
        position: absolute;
        width: 36px;
        height: 88px;
        top:50%;
        margin-top:-44px;
        background-repeat:no-repeat;
        z-index: 2;
        color:transparent;
        font-size: 0;
    }
    .view-header a.prev
    {
        left:-60px;
        background-image:url(../images/left_arrow.png);
    }
    .view-footer a.next
    {
        right: -60px;
        background-image:url(../images/right_arrow.png);
    }
}

.view-gallery-page,
.view-photo-gallery
{
    .view-content ul
    {
        list-style: none;
        margin: 0 -20px 0 0;
        padding: 0;

        li
        {
            list-style: none;
            float: left;
            margin:0 20px 30px 0;
            padding: 0;
            box-shadow:0 0 4px rgba(0,85,150, 0.5);
            width: 200px;

            img
            {
                display: block;
                margin: 0;
            }
        }
    }
}
.view-photo-gallery
{
    .views-field-title a
    {
        display: block;
        color:$blue;
        text-align: center;
        @extend .clearface;
        font-weight: bold;
        font-size: 0.8em;
        height: 2.5em;
        padding: 0 15px;
    }
}
