@media screen and (max-width:955px)
{
    .content_main,
    .content_top,
    .sidebar,
    .sidebar_top,
    .sidebar_btm
    {
        float: none;
        width: auto;
        margin:0;
    }
    .content_main
    {
        border-radius:0;
        height: auto!important;
    }
    .sidebar
    {
        margin-top: 30px;
        border-radius:0;
        height: auto!important;
    }
    .f_center
    {
        width: 430px;
    }
    .footer .f_right
    {
        width: 130px;
    }
}




@media screen and (max-width:880px)
{
    .f_left
    {
        float: none;
        width: 260px;
        margin: 0 auto;
        text-align: center;
    }
    .f_center
    {
        float: none;
        margin:0 auto;
    }
    .footer .f_right
    {
        float: none;
        clear: both;
        width: auto;
        text-align: center;

        br
        {
            display: none;
        }
    }

    .header
    {
        .address
        {
            margin-left:0;
        }
        .restore_logo
        {
            float: left;
        }
    }

}




@media screen and (max-width:768px)
{
    .top
    {
        height: auto;
    }

    #logo
    {
        float: none;

        img
        {
            margin:0 auto;
        }
    }
    .header .address
    {
        float: none;
        margin:20px auto;
        overflow: hidden;
    }
    .header .restore_logo
    {
        float: none;
        display: block;

        img
        {
            margin:0 auto;
            display: block;
        }
    }

    #block-system-main-menu
    {
        display: none;
        position: absolute;
        width: 100%;
        top:100%;
        border-top: 2px solid $green;
        z-index: 100;
        background:$blue;
        text-shadow:1px 1px 3px rgba(0,0,0,0.2);

        .content > ul
        {
            & > li
            {
                display: block;
                float: none;
                border-bottom: 1px solid #004e8a;
                border-right: 0;
                margin: 0;

                & > a
                {
                    float: none;
                    display: block;
                    padding: 10px 22px;
                }

                &.last
                {
                    border-bottom: 0;
                }
                &.expanded,
                &.expanded:hover
                {
                    /*background-image:url(../images/down_arrow.png);*/
                    background-repeat:no-repeat;
                    background-position:95% 15px;
                }

                &:hover,
                &.active-trail a,
                & > a.active
                {
                    background-image:none;
                }

                & > ul
                {
                    display: block;
                    position: static;
                    float: none;
                    width: auto;
                    border:0;

                    & > li
                    {
                        float: none;
                        width: auto;

                        &:hover
                        {
                            background: $green;
                        }

                        & > a
                        {
                            float: none;
                            display: block;
                            width: auto;
                            padding: 10px 44px;
                            font-size:13px;
                        }
                    }
                }
            }
        }
    }

    .nav #block-block-5
    {
        display: block;

        .content
        {
            text-align: center;


            &:hover
            {
                background-color:$green;
            }

            a
            {
                display:block;
                text-align: center;
                color: white;
                font-size:22px;
                font-weight: 600;
                line-height:42px;
                text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

                img
                {
                    vertical-align: middle;
                    margin: 5px 0 0 10px;
                }
            }
        }
    }

    body.front
    {
        .welcome, .video, .content_cen, .wat_new1, .wat_new2
        {
            float: none!important;
            width: auto!important;
            padding: 0 !important;
            margin:0 !important;

            h1
            {
                width: auto;
                float: none;
            }
        }
        .video h1
        {
            display: inline-block;
            padding-right: 40px;
            background-position:right 10px;
        }
        .content_cen h1
        {
            padding-right: 60px;
            background-position:right center;
        }
        .wat_new1
        {
            background: none;
        }
        .content_cen
        {
            min-height:0;
        }
        .content_btm
        {
            float: none;
            width: auto;
            margin-right: 0;
        }
        .name-here-right
        {
            float: left;
        }
        .sidebar
        {
            clear: both;
            padding-top: 10px !important;
            margin: 0 !important;
            text-align: center;
            min-height:0;
        }
        .fea_val h1
        {
            float: none;
            width: auto;
            padding-right: 30px;
            background-position: right center;
        }
    }

    .slideshow
    {
        height: auto;
    }
    .view-header-slideshow
    {
        width: auto;
        height: auto;
        margin:0 30px;
        position: static;

        .view-header a.prev
        {
            left: 0;
        }
        .view-footer a.next
        {
            right: 0;
        }
        .view-content img
        {
            height: auto;
        }
    }

    .our_restore_left,
    .our_restore_right
    {
        float: none !important;
        width: auto !important;
        margin: 0 !important;
    }
    .volunteer_icon1
    {
        display: block;
        margin: 0 0 10px 0;
        float: none !important;
    }
    .view-gallery-page,
    .view-photo-gallery
    {
        .view-content ul
        {
            margin:0;
            text-align: center;

            li
            {
                float: none;
                margin:0 10px 20px 10px;
                display: inline-block;
            }
        }
    }
    form.webform-client-form
    {
        #webform-component-sunday,
        #webform-component-monday,
        #webform-component-tuesday,
        #webform-component-wednesday,
        #webform-component-thursday,
        #webform-component-friday,
        #webform-component-saturday
        {
            & > label
            {
                width: 120px;
            }
        }
    }
    .applynow_volunteer
    {
        margin-top:-10px;
    }

    body.not-front .sidebar.first
    {
        display: none;
    }
}




@media screen and (max-width:680px)
{
    body.front
    {
        .name-here-left
        {
            float: none;
            width: auto;
        }
        .name-here-right
        {
            float: none;
            width: auto;
            text-align: center;

            img
            {
                display: block;
                margin:0 auto !important;
                float: none !important;
            }
        }
    }

    .donate_tabs_outer
    {
        border:1px solid #72a1c5;
    }
    .donate_tabs_left,
    .donate_tabs_right
    {
        float: none;
        width: 100%;
        margin:0;
        display: table;
        border:0;

        .donate_tabs_row
        {
            display: table-row;

            .donate_ammounts,
            .donate_ammounts_desc
            {
                display: table-cell;
                vertical-align: middle;
                float: none;
            }
        }
    }

    .webform-step:before
    {
        width: 18px;
        margin:15px 0;
    }
}







@media screen and (max-width:540px)
{
    form.webform-client-form
    {
        #webform-component-first-name,
        #webform-component-gender,
        #webform-component-city,
        #webform-component-employer
        {
            float: none;
        }

        #webform-component-do-you-have-any-health-issues-we-should-be-aware-of,
        #webform-component-are-you-volunteering-for-high-school-community-service-hours,
        #webform-component-are-you-volunteering-for-required-community-service-hours
        {
            & > label
            {
                width: auto;
            }
            .form-radios
            {
                clear: both;
            }
        }

        #webform-component-what-kind-of-build-site-volunteer-activities-are-you-interested-in
        {
            & > label
            {
                width: auto;
                height: 75px;
                float: none;
                margin-right:0;
            }

            .form-item
            {
                width: auto;
            }

            & > .description
            {
                width: auto;
            }
        }

        #webform-component-sunday,
        #webform-component-monday,
        #webform-component-tuesday,
        #webform-component-wednesday,
        #webform-component-thursday,
        #webform-component-friday,
        #webform-component-saturday
        {
            & > label
            {
                width: 95px;
                margin-right: 15px;
            }
            .form-item
            {
                float:none;
                margin-right:0;
                width:110px;
            }
        }

        #webform-component-we-know-that-sometimes-our-volunteers-are-interested-in-helping-habitat-with-more-than-just-restore-please-select-any-other-area
        {
            .form-item
            {
                float: none;
            }
        }
    }
}







@media screen and (max-width:480px)
{
    .f_center
    {
        width: auto;
    }
    .footer ul
    {
        float: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li a, li a span
        {
            float: none;
            display: block;
            margin: 0;
        }
        li a span span
        {
            display: none;
        }
    }
    .footer .f_right a
    {
        display: block;
        margin: 0 auto;
    }

    .volunteer_pagecontent
    {
        min-height:0;

        a:link, a:visited
        {
            width: 100%;
            background-size:contain;
            margin:0 !important;
            height: 60px;
        }
    }
}
